<div class="container">
    <div class="row">
        <div class="col-lg-12">
                <!-- (ngSubmit)="updateRoom(updateRoomsForm.value)" -->
            <form #updateRoomsForm="ngForm" (ngSubmit)="updateRoom(updateRoomsForm.value)"  class="mt-5" >
                <div *ngIf="updateMsg !== ''" class="alert alert-success">
                    {{updateMsg}}
                </div>
                
                <div class="form-heading">
                    <h1 class="text-center">Update Room</h1>
                </div>
                <!-- <mat-form-field>
                    <mat-label>Id</mat-label>
                    <input matInput type="number" name="id" >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>RoomNumber</mat-label>
                    <input matInput type="number" name="roomNumber">
                </mat-form-field> -->
                
                <mat-form-field>
                    <mat-label>Room Number</mat-label>
                    <input matInput  type="text" name="roomNumber" required ngModel="{{roomId?.roomNumber}}">
                    <!-- {{roomId$.roomNumber | async}} -->
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>RoomType</mat-label>
                    <input #roomType="ngModel" matInput  type="text" name="roomType" required ngModel="{{roomId?.roomType}}" minlength="5" maxlength="20" autocomplete="off">
                    <div class="alert alert-danger" *ngIf="roomType.errors?.['minlength']">
                        Please enter minimum 5 characters.
                    </div>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Amenities</mat-label>
                    <input matInput type="text" name="amenities" required ngModel="{{roomId?.amenities}}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput type="number" name="price" required ngModel="{{roomId?.price}}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Checkintime</mat-label>
                    <input matInput type="date" name="checkintime" required ngModel="{{roomId?.checkintime}}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Checkouttime</mat-label>
                    <input matInput type="date" name="checkouttime" required ngModel="{{roomId?.checkouttime}}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Rating</mat-label>
                    <input #rating="ngModel" matInput type="number" name="rating" required ngModel="{{roomId?.rating}}" min="1" max="5">
                </mat-form-field>

                <div *ngIf="updateRoomsForm.invalid == hideBtn">
                    <button  [disabled]="updateRoomsForm.invalid" class="mt-3 w-100" mat-raised-button color="primary" type="submit" >Update</button>
                </div>
            </form>

        </div>
    </div>
</div>